@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --text-color: white;
  --bg-url: url("./assets/bg-desktop.jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
}

.light {
  --text-color: black;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --bg-url: url("./assets/bg-desktop-light.jpg");
}

body {
  color: var(--text-color);
  background: black var(--bg-url) no-repeat top center/cover;
}

.container {
  width: 360px;
  padding: 0 24px;
  margin: 56px auto 0px;
}

.profile {
  padding: 24px;
  text-align: center;
}

.profile a {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

.profile-img {
  width: 112px;
  display: inline;
}

.profile-name {
  font-weight: 500;
}

.switch {
  width: 64px;
  margin: 4px auto;
  position: relative;
}
.switch button {
  left: 0;
  top: 50%;
  border: 0;
  z-index: 1;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  background: white var(--switch-bg-url) no-repeat center;
}

.light .switch button {
  right: 0;
  left: initial;
}

.switch button:hover {
}

.switch span {
  width: 64px;
  height: 24px;
  display: block;
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  background: var(--surface-color);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--text-color);
}

a {
  color: var(--text-color);
}

ul {
  gap: 16px;
  display: flex;
  padding: 24px 0;
  list-style: none;
  flex-direction: column;
}

ul li {
  backdrop-filter: blur(4px);
}

ul li a {
  display: flex;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px 24px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  backdrop-filter: blur(4px);
  transition: background 0.2s;
  background: var(--surface-color);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--stroke-color);
}

/* pseudo-selector*/
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

.social-links {
  display: flex;
  font-size: 24px;
  padding: 24px 0;
  justify-content: center;
}

.social-links a {
  padding: 16px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.social-links a:hover {
  background: var(--highlight-color);
}

footer {
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
}
